<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>Social Contact Simulator</title>
  <style>
    div {
      margin: 150px auto;
      text-align: center;
    }
    span {
      font-size: 20px;
    }
  </style>
</head>
<body>
  <div>
    <h1>Social Contact Simulator</h1>
    <span>
      For more demo, please visit 
      <strong><a href="https://github.com/yesmore">https://github.com/yesmore</a> </strong>.
    </span>
  </div>
</body>
</html>